In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
twt = pd.read_excel("G:\\My Drive\\LT\\SLP\\Data Sources\\Twitter Data\\Twitter+data+in+sheets.xlsx", 
                    sheet_name=None)

In [3]:
tweet = twt.copy()

In [4]:
tweet1 = twt['Tweet']
tweet2 = twt['Location']
tweet3 = twt['User']

In [5]:
tweet1.head(5)

,TweetID,Weekday,Hour,Day,Lang,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,text,LocationID,UserID
0,tw-698155297102295041,Friday,7.0,12.0,en,1.0,339.0,127.0,0.0,44.0,0.0,"""RT @AdrianRusso82: Our Innovation Lab is offi...",1.0,tw-1267804344
1,tw-685159757209059329,Thursday,11.0,7.0,en,0.0,87.0,0.0,0.0,22.0,0.0,Now Open AWS Asia Pacific (Seoul) Region via ...,2.0,tw-27229880
2,tw-686907710311378944,Tuesday,6.0,12.0,en,0.0,87.0,0.0,0.0,22.0,0.0,A Beginner's Guide to Scaling to 11 Million+ U...,2.0,tw-27229880
3,tw-686968158050201600,Tuesday,10.0,12.0,en,0.0,87.0,0.0,0.0,22.0,0.0,Bridging AWS and Azure environments via VPN vi...,2.0,tw-27229880
4,tw-690210449674092545,Thursday,9.0,21.0,en,0.0,85.0,0.0,0.0,21.0,0.0,ELK on AWS ElasticSearch Service + ElasticBean...,2.0,tw-27229880

In [6]:
from collections import Counter
twt_loc_counts = tweet1[" LocationID"].value_counts()
twt_loc_counts_sorted = dict(sorted(twt_loc_counts.to_dict().items(), key=lambda item: item[1], reverse=True))
dict(list(twt_loc_counts_sorted.items())[:20])

{3751.0: 7004,
 3019.0: 4876,
 3753.0: 4096,
 800.0: 2679,
 3738.0: 2652,
 3766.0: 1581,
 1329.0: 1427,
 3776.0: 1357,
 80.0: 1285,
 1338.0: 1212,
 3739.0: 1179,
 3786.0: 1117,
 1788.0: 1015,
 3741.0: 961,
 3764.0: 960,
 289.0: 848,
 3754.0: 813,
 81.0: 786,
 2650.0: 773,
 1333.0: 772}

In [7]:
twt_loc_counts.info()

<class 'pandas.core.series.Series'>
Index: 4310 entries, 3751.0 to 6289.0
Series name: count
Non-Null Count  Dtype
--------------  -----
4310 non-null   int64
dtypes: int64(1)
memory usage: 67.3 KB

In [8]:
tweet1.describe()

,Hour,Day,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,LocationID
count,100000.000000,100000.000000,100000.00000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,11.412490,15.894960,0.35462,8.542396e+03,8.052750,0.152770,40.389260,0.380921,2836.163440
std,6.053577,8.399852,0.47840,8.867027e+04,97.863474,2.583633,13.636513,1.046559,1323.140242
min,0.000000,1.000000,0.00000,0.000000e+00,0.000000,0.000000,0.000000,-6.000000,1.000000
25%,7.000000,9.000000,0.00000,1.510000e+02,0.000000,0.000000,32.000000,0.000000,1601.000000
50%,11.000000,16.000000,0.00000,4.485000e+02,0.000000,0.000000,43.000000,0.000000,3738.000000
75%,16.000000,23.000000,1.00000,1.496000e+03,3.000000,0.000000,49.000000,0.666667,3775.000000
max,23.000000,31.000000,1.00000,1.034245e+07,26127.000000,133.000000,99.000000,7.333333,6289.000000

In [9]:
tweet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100001 entries, 0 to 100000
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TweetID        100000 non-null  object
 1    Weekday       100000 non-null  object
 2    Hour          100000 non-null  float64
 3    Day           100000 non-null  float64
 4    Lang          100000 non-null  object
 5    IsReshare     100000 non-null  float64
 6    Reach         100000 non-null  float64
 7    RetweetCount  100000 non-null  float64
 8    Likes         100000 non-null  float64
 9    Klout         100000 non-null  float64
 10   Sentiment     100000 non-null  float64
 11   text          99996 non-null   object
 12   LocationID    100000 non-null  float64
 13   UserID        100000 non-null  object
dtypes: float64(9), object(5)
memory usage: 10.7+ MB

In [10]:
tweet1[' text'].isna().value_counts()

 text
False    99996
True         5
Name: count, dtype: int64

In [11]:
tweet1 = tweet1.drop(tweet1.index[-1])

In [12]:
tweet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TweetID        100000 non-null  object
 1    Weekday       100000 non-null  object
 2    Hour          100000 non-null  float64
 3    Day           100000 non-null  float64
 4    Lang          100000 non-null  object
 5    IsReshare     100000 non-null  float64
 6    Reach         100000 non-null  float64
 7    RetweetCount  100000 non-null  float64
 8    Likes         100000 non-null  float64
 9    Klout         100000 non-null  float64
 10   Sentiment     100000 non-null  float64
 11   text          99996 non-null   object
 12   LocationID    100000 non-null  float64
 13   UserID        100000 non-null  object
dtypes: float64(9), object(5)
memory usage: 10.7+ MB

In [13]:
tweet1[' text'].fillna('Empty', inplace=True)

In [14]:
tweet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TweetID        100000 non-null  object
 1    Weekday       100000 non-null  object
 2    Hour          100000 non-null  float64
 3    Day           100000 non-null  float64
 4    Lang          100000 non-null  object
 5    IsReshare     100000 non-null  float64
 6    Reach         100000 non-null  float64
 7    RetweetCount  100000 non-null  float64
 8    Likes         100000 non-null  float64
 9    Klout         100000 non-null  float64
 10   Sentiment     100000 non-null  float64
 11   text          100000 non-null  object
 12   LocationID    100000 non-null  float64
 13   UserID        100000 non-null  object
dtypes: float64(9), object(5)
memory usage: 10.7+ MB

In [15]:
for item, value in twt_loc_counts.items():
    tweet2.loc[tweet2['LocationID'] == item, 'loc_contribution'] = value

In [16]:
tweet2.head()

   LocationID  Country        State StateCode         City  loc_contribution
0         1.0  Albania      Elbasan        AL      Elbasan               1.0
1         2.0  Albania       Tirane        AL       Tirana               6.0
2         3.0  Algeria   Souk Ahras        DZ   Souk Ahras               NaN
3         4.0  Algeria        Alger        DZ      Algiers               2.0
4         5.0  Algeria  Constantine        DZ  Constantine               NaN

In [17]:
tweet2['loc_contribution'].fillna(0, inplace=True)

In [18]:
tweet2.head()

   LocationID  Country        State StateCode         City  loc_contribution
0         1.0  Albania      Elbasan        AL      Elbasan               1.0
1         2.0  Albania       Tirane        AL       Tirana               6.0
2         3.0  Algeria   Souk Ahras        DZ   Souk Ahras               0.0
3         4.0  Algeria        Alger        DZ      Algiers               2.0
4         5.0  Algeria  Constantine        DZ  Constantine               0.0

In [19]:
sum_by_country = tweet2.groupby('Country')['loc_contribution'].sum().reset_index()
sum_by_country = pd.DataFrame(sum_by_country, columns=['Country', 'loc_contribution'])
sum_by_country.index.name = 'Index'
sum_by_country

                     Country  loc_contribution
Index
0                Afghanistan               0.0
1                    Albania               7.0
2                    Algeria               3.0
3                    Andorra               0.0
4                     Angola               5.0
...                      ...               ...
171                 Viet Nam              92.0
172                  Vietnam              25.0
173    Virgin Islands (U.S.)               0.0
174                   Zambia               9.0
175                 Zimbabwe               7.0

[176 rows x 2 columns]

In [20]:
sum_by_country = sum_by_country[sum_by_country['loc_contribution'] > 1000]
sum_by_country

              Country  loc_contribution
Index
10          Australia            2937.0
24             Brazil            1402.0
30             Canada            1173.0
51             France            3648.0
53            Germany            3532.0
66              India            6850.0
67          Indonesia            1035.0
71            Ireland            1444.0
76              Japan            1336.0
109       Netherlands            1022.0
147             Spain            2092.0
165    United Kingdom            9862.0
166     United States           50628.0

In [21]:
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2
def get_continent(col):
    try:
        cn_a2_code =  country_name_to_country_alpha2(col)
    except:
        cn_a2_code = 'Unknown' 
    try:
        cn_continent = country_alpha2_to_continent_code(cn_a2_code)
    except:
        cn_continent = 'Unknown' 
    return (cn_a2_code, cn_continent)

In [22]:
get_continent('Australia')

('AU', 'OC')

In [23]:
for item in sum_by_country['Country']:
    sum_by_country['Code'] = get_continent(item)[0]
    sum_by_country['Continent'] = get_continent(item)[1]

sum_by_country

C:\Users\royas\AppData\Local\Temp/ipykernel_2600/578285990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sum_by_country['Code'] = get_continent(item)[0]
C:\Users\royas\AppData\Local\Temp/ipykernel_2600/578285990.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sum_by_country['Continent'] = get_continent(item)[1]
C:\Users\royas\AppData\Local\Temp/ipykernel_2600/578285990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sum_by_country['Code'] = get_continent(item)[0]

              Country  loc_contribution Code Continent
Index
10          Australia            2937.0   US        NA
24             Brazil            1402.0   US        NA
30             Canada            1173.0   US        NA
51             France            3648.0   US        NA
53            Germany            3532.0   US        NA
66              India            6850.0   US        NA
67          Indonesia            1035.0   US        NA
71            Ireland            1444.0   US        NA
76              Japan            1336.0   US        NA
109       Netherlands            1022.0   US        NA
147             Spain            2092.0   US        NA
165    United Kingdom            9862.0   US        NA
166     United States           50628.0   US        NA

In [24]:
sum_by_country['Code'] = sum_by_country['Country'].apply(lambda x: get_continent(x)[0])
sum_by_country['Continent'] = sum_by_country['Country'].apply(lambda x: get_continent(x)[1])
sum_by_country

C:\Users\royas\AppData\Local\Temp/ipykernel_2600/4060086247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sum_by_country['Code'] = sum_by_country['Country'].apply(lambda x: get_continent(x)[0])
C:\Users\royas\AppData\Local\Temp/ipykernel_2600/4060086247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sum_by_country['Continent'] = sum_by_country['Country'].apply(lambda x: get_continent(x)[1])

              Country  loc_contribution Code Continent
Index
10          Australia            2937.0   AU        OC
24             Brazil            1402.0   BR        SA
30             Canada            1173.0   CA        NA
51             France            3648.0   FR        EU
53            Germany            3532.0   DE        EU
66              India            6850.0   IN        AS
67          Indonesia            1035.0   ID        AS
71            Ireland            1444.0   IE        EU
76              Japan            1336.0   JP        AS
109       Netherlands            1022.0   NL        EU
147             Spain            2092.0   ES        EU
165    United Kingdom            9862.0   GB        EU
166     United States           50628.0   US        NA

In [25]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="niknik")
def geolocate(country):
        loc = geolocator.geocode(country)
        return (loc.latitude, loc.longitude)

In [26]:
sum_by_country['Latitude'] = sum_by_country['Country'].apply(lambda x: geolocate(x)[0])
sum_by_country['Longitude'] = sum_by_country['Country'].apply(lambda x: geolocate(x)[1])
sum_by_country

C:\Users\royas\AppData\Local\Temp/ipykernel_2600/3279749417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sum_by_country['Latitude'] = sum_by_country['Country'].apply(lambda x: geolocate(x)[0])
C:\Users\royas\AppData\Local\Temp/ipykernel_2600/3279749417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sum_by_country['Longitude'] = sum_by_country['Country'].apply(lambda x: geolocate(x)[1])

              Country  loc_contribution Code Continent   Latitude   Longitude
Index
10          Australia            2937.0   AU        OC -24.776109  134.755000
24             Brazil            1402.0   BR        SA -10.333333  -53.200000
30             Canada            1173.0   CA        NA  61.066692 -107.991707
51             France            3648.0   FR        EU  46.603354    1.888334
53            Germany            3532.0   DE        EU  51.163818   10.447831
66              India            6850.0   IN        AS  22.351115   78.667743
67          Indonesia            1035.0   ID        AS  -2.483383  117.890285
71            Ireland            1444.0   IE        EU  52.865196   -7.979460
76              Japan            1336.0   JP        AS  36.574844  139.239418
109       Netherlands            1022.0   NL        EU  52.243498    5.634323
147             Spain            2092.0   ES        EU  39.326068   -4.837979
165    United Kingdom            9862.0   GB        EU  54.702354   -3.276575
166     United States           50628.0   US        NA  39.783730 -100.445882

In [27]:
pip install folium

Requirement already satisfied: folium in c:\users\royas\anaconda3\lib\site-packages (0.15.1)
Requirement already satisfied: numpy in c:\users\royas\anaconda3\lib\site-packages (from folium) (1.21.5)
Requirement already satisfied: xyzservices in c:\users\royas\anaconda3\lib\site-packages (from folium) (2023.10.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\royas\anaconda3\lib\site-packages (from folium) (0.7.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\royas\anaconda3\lib\site-packages (from folium) (3.1.3)
Requirement already satisfied: requests in c:\users\royas\anaconda3\lib\site-packages (from folium) (2.27.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\royas\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\royas\anaconda3\lib\site-packages (from requests->folium) (2024.2.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\royas\anaconda3\lib\site-packages (from requests->folium) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\royas\anaconda3\lib\site-packages (from requests->folium) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\royas\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import folium
from folium.plugins import MarkerCluster
#empty map
world_map= folium.Map(tiles="cartodbpositron")
marker_cluster = MarkerCluster().add_to(world_map)
#for each coordinate, create circlemarker of user percent
for i in range(len(sum_by_country)):
        lat = sum_by_country.iloc[i]['Latitude']
        long = sum_by_country.iloc[i]['Longitude']
        radius=5
        popup_text = """Country : {}<br>
                    %of Users : {}<br>"""
        popup_text = popup_text.format(sum_by_country.iloc[i]['Country'],
                                   sum_by_country.iloc[i]['loc_contribution']
                                   )
        folium.CircleMarker(location = [lat, long], radius=radius, popup= popup_text, fill =True).add_to(marker_cluster)

In [29]:
world_map